.chkbtn{
    background-color: #4a90e2; /* Button background color */
    color: white; /* Text color */
    border:none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    padding: 12px 24px; /* Vertical and horizontal padding */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Bold text */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
    margin-top: 20px;
}
.chkbtn:disabled{
    background-color: #ccc;
    cursor: not-allowed;
}
.searchIp{
    border-right: 10px;
}
.search-heading{
    font-family: 'Roboto', Arial, sans-serif; /* Use modern and readable font */
    font-size: 2rem; /* Adjust size for clear visibility */
    font-weight: bold; /* Makes the heading prominent */
    color: #007bff; /* A pleasing blue color */
    margin: 20px 0; /* Adds spacing above and below */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    letter-spacing: 1px; /* Slight spacing for a clean look */
}
.searchPreview{
    margin: 25px;
    position: relative;
    width:fit-content;
    
    border-radius: 10px; 
    overflow: hidden; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; 
    border-right: 10px;
}


.imgst{
     /* Make image responsive */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%;
    max-height: 200px;
}