.chkbtn{
    background-color: #4a90e2; /* Button background color */
    color: white; /* Text color */
    border:none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    padding: 12px 24px; /* Vertical and horizontal padding */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Bold text */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
    margin-top: 20px;
}
.chkbtn:disabled{
    background-color: #ccc;
    cursor: not-allowed;
}
.searchIp{
    border-right: 10px;
}

.searchPreview{
    margin: 25px;
    position: relative;
    width: 300px; /* Set the width of the box */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Hide overflow */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    background-color: #ffffff; /* White background for the box */
    border-right: 10px;
}

.image-overlay {
    position: absolute;
    bottom: 1;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent overlay */
    padding: 10px; /* Padding inside the overlay */
    text-align: center; /* Center text */
}

.imgst{
    width: 100%; /* Make image responsive */
    height: auto; /* Maintain aspect ratio */
}